[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"
selenium = "*"
aiohttp = "*"
lxml = "*"
"beautifulsoup4" = "*"
pyquery = "*"
tesserocr = "*"
pillow = "*"
pymysql = "*"
pymongo = "*"
redis = "*"
flask = "*"
tornado = "*"
pyspider = "*"
scrapy = "*"
pycurl = "*"


[dev-packages]

